/**
* ----------------------------------------------
* Modified Demo styles
* ----------------------------------------------
**/

@import 'globals';

.accordion {
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1em 0;
}

.accordion__button {
    // background-color: #f4f4f4;
    background-color: white;
    color: $accent-color;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: none;
    border: solid 1px $accent-color;
}

.accordion__button:hover {
    // background-color: #ddd;
    background-color: $accent-color;
    color: white;
}

.accordion__button[aria-expanded='true']{
    background-color: $accent-color;
    color: white;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 1em;
    border: solid 0.5px black;
    animation: fadein 0.5s ease-in-out;

    &:hover{
        background-color: lighten($accent-color,45);
        // background-color: hsl(218, 29%, 96%);
        font-weight: 500;

    }

}

.question-link{
    color: #000000;
    text-decoration: none;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}