$accent-color:hsl(218, 90%, 50%);
$linear-grad : linear-gradient(160deg, #0f64f2 0%, hsl(173, 46%, 86%) 100%);

$imperial-red: hsla(355, 78%, 56%, 1);
$honeydew: hsla(105, 55%, 96%, 1);
$powder-blue: hsla(182, 43%, 76%, 1);
$celadon-blue: hsla(203, 39%, 44%, 1);
$prussian-blue: hsla(215, 50%, 23%, 1);


$hirevue-red : #e3203b;
$hirevue-lightblue : #84b7ec;
$hirevue-darkblue : #273553;
$hirevue-greybg : #f4f6f7;
$hirevue-darkgrey : #566068;

