@import 'globals';

h1{
    font-size: 3em;
}


.hero-row{
    display: flex;;
    align-items: center;
    margin-bottom: 2em;
}

.hero-keyword{
    color: $accent-color;
}

.hero-row-left{
    padding: 1em;
}

.hero-image{
    width: 50%;
    margin-left: auto;
}