@import 'globals';

h1{
    font-size: 3em;
}


.hero-row{
    display: flex;;
    align-items: center;
    margin: 2em 0;
}

.hero-keyword{
    color: $accent-color;
}

.hero-row-left{
    padding: 1em;
}

.hero-image{
    width: 50%;
    margin-left: auto;
}

@media screen and (max-width:600px) {
    .hero-row{
        flex-direction: column-reverse;
    }

    .hero-image{
        width: 100%;
    }

    .hero-row-left{
        padding-left: 0;
        text-align: center;
    }
}