@import "globals";

$video-dimension: 50%;
$container-color: white;

.QuestionPage{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.question-page-section{
    padding: 1rem;
    border: solid 1px black;
    background-color: $container-color;
    border-radius: 0.3rem;
}
.question-title-area{
    font-size: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    @media screen and (max-width:600px) {
        justify-content: center;
        flex-direction: column;
    }

}

.question{
    font-weight: 500;
}

.change-question{
    padding: 1rem;
    background-color: $hirevue-red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;
    &:hover{
        cursor: pointer;
        background-color: black;
        color: white;
        transition: 0.2s ease-in-out;
    }

    @media screen and (max-width:600px) {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.question-area{
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-auto-rows: minmax(700px,auto);
    grid-gap: 1rem;
    height: fit-content;

    @media screen and (max-width:768px){
        grid-template-columns:  auto;
    }
}

.question-area-video{
    display: flex;
    flex-direction: column;
}

.recording-option-container{
    display: flex;
    flex-wrap: wrap;
}
.recording-option{
    padding: 0.5em;
    width: 50%;
    text-overflow: wrap;
    font-weight: 500;
    font-size: 1em;
  
    &:hover{
      cursor: pointer;
  
    }
}

@media screen and (max-width:500px){
    .recording-option-container{
        flex-direction: column;
    }

    .recording-option{
        width: 100%;
    }
}

.question-area-notes{
    display: flex;
    flex-direction: column;
}
.question-area-notes-input{
    resize: none;
    padding: 10px;
    height: 80%;
    // font-weight: bold;
}

.current-question{
    font-size: 1.4rem;
    font-weight: bold;
}

.question-selection-button{
    border: none;
    padding: 0.5rem 1rem;
    &:hover{
        cursor: pointer;
        transition: ease-in-out 0.2s;
      }
}

.question-table{
    width: 100%;

    td{
        padding: 0.5rem;
        border: solid 1px white;
    }
    
}

.question-table-minor{
    text-align: center;
}