@import "globals";

$video-dimension: 50%;
$container-color: white;

.QuestionPage{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.question-page-section{
    padding: 1rem;
    border: solid 1px black;
    // border-radius: 1rem;
    background-color: $container-color;
    // box-shadow: rgb(184, 185, 190) 3px 3px 6px, rgb(255, 255, 255) -3px -3px 6px;
    // box-shadow: $accent-color 3px 3px 6px, rgb(255, 255, 255) -3px -3px 6px;
    border-color: rgb(209, 217, 230);
    border-color: $accent-color;
}
.question-title-area{
    text-align: center;
    padding: 0 1rem;
}

.question-area{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-auto-rows: 600px;
    gap: 1rem;
    height: fit-content;

    @media screen and (max-width:768px){
        grid-template-columns:  1fr;
    }
}

.question-area-video{
    display: flex;
    flex-direction: column;
}



.recording-option{
    padding: 0.5em;
    width: 100%;
    text-overflow: wrap;
    font-weight: 500;
    font-size: 1em;
  
    &:hover{
      cursor: pointer;
  
    }
}

.question-area-notes{
    display: flex;
    flex-direction: column;
}
.question-area-notes-input{
    resize: none;
    // border-radius: 1rem;
    // border: none;
    padding: 1rem;
    width: 90%;
    height: 80%;

    border-color: $accent-color;
    color: $accent-color;
    font-weight: bold;
    font-size: larger;
}

.question-selection-button{
    background-color: white;
    border: solid 1px black;
    margin: 0.5rem 0;
    width: 100%;
    padding: 1rem;
    // margin-bottom: 1rem;
    &:hover{
        cursor: pointer;
        background-color: #a1ffa1;
        transition: ease-in-out 0.3s;
      }
}

.question-selection-modal{
    overflow-y: scroll;

}

.RMM__body{
    padding: 0;
}
