.App{
    background-color: rgb(31, 29, 26);
    height: fit-content;
    padding: 0;
    margin: 0;
}

.questions{
    padding: 2em;
}

.title,
.question-type{
    color: white;
}
.question-link{
    color: white;
    text-decoration: none;
    margin: 0;
    margin: 1em;

}
