.App{
  display: flex;
  background-color: rgb(31, 29, 26);
  height: 100vh;
  margin: 0;
  padding:0
}
.video-container{
  padding: 1em;
  height: 600px;
  width: 600px;
}

.options-container{
  color: white;
}

button:active
{
  background-color: yellow;
}